<div class="container-fluid">

<div class="row">
  <nav class="navbar navbar-light col-md-12" id="top_bar">
    <a class="navbar-brand" href="/home">
      <img src="images/logo.png" class="d-inline-block align-top logo animated flipInX" alt="Image Labeler">
    </a>
    <div>
      <span class="link">
        <a href="/ranking" class="btn">
          Ranking
        </a>
      </span>
  </nav>
</div>

<div id="about_us_box">
  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-4">
      <h1>About Us</h1>
      <p>Here goes the description</p>
    </div>
    <div class="col-4">

    </div>
  </div>

</div>
</div>
