<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-light col-md-12" id="top_bar">
      <a class="navbar-brand" href="#">
        <img src="images/logo.png" class="d-inline-block align-top logo animated flipInX" alt="Image Labeler">
      </a>
    </nav>
  </div>

  <div class="row">
    <!--Description of the labeler-->
  </div>
  <div class="row">
    <canvas id="picture_box"></canvas>
    <div class="" id="gallery">
        <span>
          <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NLTjHTkUl/videoblocks-aerial-viewwheat-field-top-view-of-wheat-field-at-harvest-aerial-view-of-the-countryside-with-fields-of-crops-in-summer-agricultural-concept-4kuhd_r_ghirlzb_thumbnail-full01.png" alt="">
        </span>
        <span>
          <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NLTjHTkUl/videoblocks-aerial-viewwheat-field-top-view-of-wheat-field-at-harvest-aerial-view-of-the-countryside-with-fields-of-crops-in-summer-agricultural-concept-4kuhd_r_ghirlzb_thumbnail-full01.png" alt="">
        </span>
        <span>
          <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NLTjHTkUl/videoblocks-aerial-viewwheat-field-top-view-of-wheat-field-at-harvest-aerial-view-of-the-countryside-with-fields-of-crops-in-summer-agricultural-concept-4kuhd_r_ghirlzb_thumbnail-full01.png" alt="">
        </span>
        <span>
          <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NLTjHTkUl/videoblocks-aerial-viewwheat-field-top-view-of-wheat-field-at-harvest-aerial-view-of-the-countryside-with-fields-of-crops-in-summer-agricultural-concept-4kuhd_r_ghirlzb_thumbnail-full01.png" alt="">
        </span>
        <span>
          <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NLTjHTkUl/videoblocks-aerial-viewwheat-field-top-view-of-wheat-field-at-harvest-aerial-view-of-the-countryside-with-fields-of-crops-in-summer-agricultural-concept-4kuhd_r_ghirlzb_thumbnail-full01.png" alt="">
        </span>
        <span>
          <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NLTjHTkUl/videoblocks-aerial-viewwheat-field-top-view-of-wheat-field-at-harvest-aerial-view-of-the-countryside-with-fields-of-crops-in-summer-agricultural-concept-4kuhd_r_ghirlzb_thumbnail-full01.png" alt="">
        </span>
        <span>
          <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NLTjHTkUl/videoblocks-aerial-viewwheat-field-top-view-of-wheat-field-at-harvest-aerial-view-of-the-countryside-with-fields-of-crops-in-summer-agricultural-concept-4kuhd_r_ghirlzb_thumbnail-full01.png" alt="">
        </span>
        <span>
          <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NLTjHTkUl/videoblocks-aerial-viewwheat-field-top-view-of-wheat-field-at-harvest-aerial-view-of-the-countryside-with-fields-of-crops-in-summer-agricultural-concept-4kuhd_r_ghirlzb_thumbnail-full01.png" alt="">
        </span>
        <span>
          <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NLTjHTkUl/videoblocks-aerial-viewwheat-field-top-view-of-wheat-field-at-harvest-aerial-view-of-the-countryside-with-fields-of-crops-in-summer-agricultural-concept-4kuhd_r_ghirlzb_thumbnail-full01.png" alt="">
        </span>
    </div>
  </div>

  <div class="row" id="button_group">

    <div class="col-1"></div>
      <div class="col-1">
        <button type="button" class="btn btn-info">Primary</button>
      </div>
      <div class="col-1">
        <button type="button" class="btn btn-info">Primary</button>
      </div>
      <div class="col-9">
      </div>
    </div>

</div>
