<div class="container-fluid">
  <script type="text/javascript">
    $(document).ready(function(){
      $('#particles-js').hide();
      $('body').css('background','#00b3da');
    });
  </script>
  <div class="row">
    <nav class="navbar navbar-light col-md-12" id="top_bar">
      <a class="navbar-brand" href="#">
        <img src="images/logo.png" class="d-inline-block align-top logo animated flipInX" alt="Image Labeler">
      </a>
      <div>
        <span class="code">
          <a>
            code : &nbsp;{{user_code}}
          </a>
        </span>
        <span class="link">
          <a href="/ranking" class="btn">
            Ranking
          </a>
        </span>
        <span class="link">
          <a href="/about" class="btn">
            About
          </a>
        </span>
        <span class="link">
          <a href="home/logout" class="btn">
            Logout
          </a>
        </span>
    </nav>
  </div>

  <div class="row">

    <div class="col-12">
      <span class="desc_text">
        This is where the description of the task is going to be in.
      </span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <canvas id="picture_box" width="800" height="450" class="card-1"></canvas>
      <canvas id="rect_box" width="800" height="450"></canvas>
    </div>
  </div>

  <div class="row" id="button_group">
      <div class="col-2"></div>
      <div class="col-4">
        <button type="button" class="btn btn-info" id="btnPrevious">Previous</button>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-info" id="btnNext">Next / Save</button>
      </div>
      <div class="col-2"></div>
    </div>
  </div>

</div>
