<div class="container-fluid">
  <div class="row">

    <div class="col-md-4"></div>
    <div class="col-md-4 login_box">
      <form class="auth_form" action="/register" method="POST">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-5">
            <img src="/images/logo_registration.png" alt="logo" width="300px" id="logo_login" class="animated flipInX">
            <img src="/images/logo_login.png" alt="logo" width="300px" id="logo_register" style="display:none" class="animated flipInX">
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="name">Name : </label>
            <input type="text" name="name" id="name" placeholder="Insert your name here" class="form-control">
          </div>
        </div>
        <br>
        <div class="row">

          <div class="col-md-12 register_code">
            <label for="unique_login_code">Fill code : </label>
            <input type="text" placeholder="xxxxxxxxxx" name="unique_login_code" id="unique_login_code" class="form-control">
          </div>
        </div>
        <br>
        <div class="row" style="padding:5px">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <input type="submit" name="submit" value="Register" class="btn btn-info  login_btn">
            <input type="button" name="btn_register" value="Login" class="btn btn-info" id="register">
          </div>
          <div class="col-md-2"></div>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">

    <div class="col-md-4"></div>
    <div class="col-md-4 note_box">
      <br>
        <b>Note : </b> <span>Please read the instructions on top of the page before labeling an image.
          If you are registering then make sure you save the code above.
        Thank you :) </span>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
