<div class="container-fluid">
  <div class="row">

    <div class="col-md-4 col-0 col-sm-0"></div>
    <div class="col-md-4 col-12 col-sm-12 login_box">
      <form class="" action="/login" method="POST">
        <div class="row">
          <div class="col-4 col-4 col-sm-4"></div>
          <div class="col-4 col-4 col-sm-4">
            <img src="/images/logo_blue.png" alt="logo"  id="logo_login" class="animated flipInX img-fluid">
            <img src="/images/logo_blue.png" alt="logo"  id="logo_register" style="display:none" class="animated flipInX img-fluid">
          </div>
          <div class="col-md-4 col-4 col-sm-4"></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="name">Name : </label>
            <input type="text" name="name" id="name" placeholder="Insert your name here" class="form-control">
          </div>
        </div>
        <br>
        <div class="row">

          <div class="col-md-12 register_code">
            <label for="unique_login_code">Fill code : </label>
            <input type="text" placeholder="xxxxxxxxxx" name="unique_login_code" id="unique_login_code" class="form-control">
          </div>
        </div>
        <br>
        <div class="row" style="padding:5px">
          <div class="col-md-2 col-0"></div>
          <div class="col-md-4 col-6">
            <input type="submit" name="submit" value="Register" class="btn btn-info  login_btn">
          </div>
          <div class="col-md-4 col-6">
            <input type="button" name="btn_register" value="Login" class="btn btn-info" id="register">
          </div>
          <div class="col-md-2 col-0"></div>
        </div>
      </form>
    </div>
    <div class="col-md-4 col-0 col-sm-0"></div>
  </div>
  <div class="row">

    <div class="col-md-4 col-0 col-sm-0"></div>
    <div class="col-md-4 col-12 col-sm-12 note_box">
      <br>
        <b>Note : </b> <span>Please read the instructions on top of the page before labeling an image.
          If you are registering then make sure you save the code above.
        Thank you :) </span>
    </div>
    <div class="col-md-4 col-0 col-sm-0"></div>
  </div>
</div>
