<div class="container-fluid">

<div class="row">
  <nav class="navbar navbar-light col-md-12" id="top_bar">
    <a class="navbar-brand" href="/home">
      <img src="images/logo.png" class="d-inline-block align-top logo animated flipInX" alt="Image Labeler">
    </a>
    <div>
      <span class="link">
        <a href="/about" class="btn">
          About
        </a>
      </span>
  </nav>
</div>

<div id="ranking_box">
  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-4">
      <p>{{title}}</p>

      <span class="rank_box">
        <span>1 - Yona </span><span class="float-right points">78 points &nbsp;</span>
      </span>
      <span class="rank_box">
        <span>1 - Yona </span><span class="float-right points">78 points &nbsp;</span>
      </span>
      <span class="rank_box">
        <span>1 - Yona </span><span class="float-right points">78 points &nbsp;</span>
      </span>
    </div>
    <div class="col-4">

    </div>
  </div>

</div>
</div>
