<script src="javascripts/ranking_script.js"></script>
<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-light col-md-12" id="top_bar">
      <a class="navbar-brand" href="/home">
        <img src="images/logo.png" class="d-inline-block align-top logo animated flipInX" alt="Image Labeler">
      </a>
      <div>
        <span class="link">
          <a href="/about" class="btn">
            About
          </a>
        </span>
        </div>
    </nav>

</div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <h1>Rankings</h1>
    <div class="rank_box">

    </div>
  </div>
  <div class="col-4"></div>
</div>
</div>
