body {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
/*#00b3da*/

a {
  color: #00B7FF;
}
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
.logo{
  width: 200px;
  height: 91px;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00b3da;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#error_box{
  position: absolute;
  margin-top: 100px;
  margin-left: 50px;
  z-index: 0;
}
#picture_box{
  position: relative;
  margin-left: 23%;
  z-index: 0;
  border-radius: 5px;
}
.desc_text{
  text-align: justify;
  text-justify: inter-word;
}

#rect_box{
  position: relative;
  margin-top: -450px;
  margin-left: 23%;
  z-index: 1;
}

#gallery{
  position: relative;
  float: right;
  width: 605px;
  height: 450px;
  margin-left: 30px;
}

#gallery span{
  float: left;
  display: block;
  width: 200px;
  height: 150px;
  padding: 5px;
}

#gallery img{
  width: 100%;
  height: 100%;
  border-radius: 5px;

}

#button_group{
  margin-top: 15px;
}

.container-fluid{
  position: absolute;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover,.login_box:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.particles{
 position:fixed !important;
 padding:0;
 margin:0;

 top:0;
 left:0;

 width: 100%;
 height: 100%;
}

.login_box{
  height: auto;
  background: #fff;
  margin-top: 10%;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.note_box{
  height: 100px;
  background: #fefff2;
  margin-top: -1%;
  z-index: 0;
  border-radius: 10px;
}

#logo_login, #logo_register{
  margin-top: 10%;
  margin-left: -10%;
}

.login_btn{
    margin-left: 20%;
}

#btnPrevious,#btnNext{
  width: 90%;
  cursor: pointer;
}
#btnPrevious{
  margin-left:18%;
}
#btnNext{
  margin-left: -11%;
}

#btn_good{
  margin-left: -25%;
}

.link{
  display: block;
  background: #fff;
  float: left;
  margin-left: 4px;
}

#unique_code{
  text-align: center;
  background: #eaeaea;
  border: none;
}

.register_code{
  display: none;
}

#unique_login_code{
  text-align: center;
}

.rank_item{
  display: block;
  background: #fff;
  margin-top: 5px;
  padding: 5px;
}

.points{
  float: right;
}
.rank_box{
  overflow-y: scroll;
  height: 500px;
  padding: 5px;
}

.rank_box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.rank_box::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.rank_box::-webkit-scrollbar-thumb
{
	background-color: #F90;
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
